*{
    /* การกำหนด font */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /* กำหนด link style */
    text-decoration: none;

    margin: 0;
    padding: 0;
    box-sizing: 0;
    transition: 0.5s;
}

/*-----------------Menu-----------------*/

.container{
   max-width: 1140px;
   margin: 0 auto;

}

nav{
   background-color: rgb(247, 1, 185); 
   overflow: hidden;
}

.nav-con{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 12spx;
    padding: 16px 18px;
}

.Menu{
    display: flex;
    overflow: hidden;
}

.Menu li{
    float: left;
    color: rgb(255, 42, 42);
    list-style: none;
    margin-left: 12px;
    padding: 16px 18px;
}

.Menu a:hover{
    background-color: rgb(134, 133, 133);

}

.Menu a:active{
    background-color: rgb(233, 233, 233);
    text-decoration: none;
}

a{
    color: rgb(255, 255, 255);
}

.logo{
    font-size: 30px;
}

/* -------------------------- dropdownmenu --------------------------- */
/* navbar container */
.navbar{
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    /* font-family: Arial, Helvetica, sans-serif; ใส่ได้ไม่ใสก็ได้*/
}

/* Link inside navbar */
.navbar a {
    float: left;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* dropdown-container */
.dropdown{
    float: left;
    overflow: hidden;
}
/* dropdown-btn */
.dropdown .dropbtn{
    font-size: 14px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(175, 0, 0);
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.192);
    z-index: 1;
}
/* Link inside dropdown */
.dropdown-content a{
    float: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: rgb(109, 109, 109);
}

.dropdown:hover .dropdown-content{
    display: block;
}











/*---------------------- table style--------------------------------- */
.styled-table{
    width: 100%;
    border-collapse: collapse ; 
    margin: 25px 0;
}

    /* ตกเเต่งส่วนหัวของตาราง */
    .styled-table th {
        background-color: rgb(162, 181, 243);
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 12px 15px;
        font-size: 16px;
    }

    /* เเถว */
    .styled-table td{
        text-align: center;
        padding: 12px 18px;
        border-collapse: collapse ;
        border-bottom: 1px solid rgb(0, 0, 0);
        font-size: 16px;
    } 

    /* เปลี่ยนสีเมื่อวางเมาส์ */
    .styled-table tr :hover{
    background-color: rgb(218, 216, 216);
    }

    /* เพิ่มเส้นขอบรอบตาราง */
    .styled-table , .styled-table th,.styled-table td{
        border: 1px solid rgb(110, 110, 110);
    }


    /* -------------------------------------- profile --------------------------------------------------------- */
    .title {
        justify-content: center;
        padding: 12px;
        text-align: center;
        border: 1px rgb(238, 146, 189) solid;
        background-color: rgb(238, 146, 189);      
        padding: 12px;
        font-size: 30px;
        
    }
    

    .pic {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .pich-item {
        max-width: 1140px;
        justify-content: center;
        text-align: center;
    }

    .pich-item img {
        width: 300px;
        border-radius: 100%;
        box-shadow: 0 0 10px rgb(240, 30, 72);
        align-items: center;
        transform: scale(0.95);
    }

    .pich-item img:hover{
        transform: scale(1.0);
    }

    .pich-item p {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px rgb(255, 255, 255) solid;
        max-width: 1140px;
        margin: 0 auto;
        column-gap: 20px;

    }

    .content-item{
        border: 1px rgb(236, 135, 135) solid;
        padding: 12px;
        background-color: rgb(236, 135, 135);
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 ;
        transform: scale(0.95);
    }

    .content-item:hover{
        transform: scale(1.0);
    }

    .logo img{
        transform: scale(0.9);
    }

    .logo img:hover{
        transform: scale(1.0);
    }

    .pich-item p{
        background-color: rgb(238, 146, 189);
    }